@import url('https://fonts.googleapis.com/css?family=Karla');

body {
	font-family: 'Karla', sans-serif;
	color: #555;
	background: #c5c5c5;
}

.container {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 450px;
    height: 120px;
    margin: auto;
    background-color: #e5e5e5;
}

h1, p {
	text-align: center;
}